<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group" >
    <div class="col-sm-12">
      <label for="nome">Nome:</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="Nome"
        formControlName="nome" id="nome" >
        <div *ngIf="form.get('nome').touched && !form.get('nome').valid">
           <p>Preencha Campo</p>
        </div>
    </div>
  </div>
  <div class="form-group" >
    <div class="col-sm-12">
      <label for="nome">E-mail:</label>
    </div>
    <div class="col-sm-12">
      <input type="text" class="form-control" placeholder="fulano@gmail.com"
        formControlName="email" id="nome" >
        <div *ngIf="form.get('email').errors?.email">
           <p>Formato de email invalido</p>
        </div>
    </div>
  </div>

  <button type="submit" class="btn btn-primary" >Submit</button>
</form>

<p>Detalhes Form</p>
valores: <br> {{ form.value | json}}
